.App {
  text-align: center;
}

li {
  list-style-type: none;
}

.auth, .register {
  padding: 5%;
  margin: 0% auto;
  width: 50%;
}

.auth-buttons {
  display: inline;
}

.auth-buttons button {
  margin: 20% 10%;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .auth, .register {
    width: 85%;
    margin: 10% auto;
  }
}





